html, body {
    margin: 0;    
}

:root {
    --primary-color-1: #2182BF;
    --primary-color-2: #2192BF;
    --contrast-color-1: #222626;
    --contrast-color-2: #8C8C8C;
    --supplementary-color: #F2F2F2;
}

#header {
    color: var(--contrast-color-1)
    min-height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

#header .left img {
    max-height: 3.5rem;
}

