@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    z-index: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

:root {
    --primary-color: green;
    --secondary-color: #e2c000;
    --accent-color: hsl(215, 51%, 70%);

    font-size: 15px;
  
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
  
    /* Fonts */
  
    --var-heading: normal normal 600 1.5em/1.6em "Outfit", sans-serif;
    --var-small-heading: normal normal 400 1em/1em "Outfit", sans-serif;
    --var-para: normal normal 300 1em/1.55em "Outfit", sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

.top {
    padding: 0.5rem 1rem 1rem 1rem;
}

#main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    -webkit-filter: opacity(0.35); /* Safari 6.0 - 9.0 */
    filter: opacity(0.35);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem max(1rem, 4.5vw);
    transition-duration: 1.7s;
    align-items: center;
    flex-direction: row;
    transition-duration: 1.2s; width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: stretch;
    background-color: #F2F2F2;
    border-bottom: 2px solid #2182BF;
    z-index: 11;
    color: #222626;
                  
}

.header:hover {
    backdrop-filter: none;
}

.header .mid {
    display: flex;
    align-items: center;
    font-size: max(1.5vw, 1.5rem);
    font-weight: 500;
    flex-direction: row;
    gap: 1rem;
}

.header .mid .head {
    display: none;
}

.header .mid .logo img {
    height: min(max(12vw, 3rem), 4rem);
    width: auto;
}

.header .left .icon {
    display: none;
    font-size: 26px;
}

.header .left .icon:hover {
    cursor: pointer;
}

.header .left .nav {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.header .left .nav .nav-element {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    position: relative;
    transition-duration: 0.7s;
}

.header .left .nav .nav-element:hover {
    color: #2182BF;
}

.header .left .nav .nav-element .flex-target {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header .left .nav .nav-element .flex-target:hover {
    cursor: pointer;
}

.header .left .nav .nav-element .dropdown-content {
    width: 100%;
    flex-direction: column;
    display: none;
}

.header .left .nav .nav-element .dropdown-content .flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header .right .icons {
    display: flex;
    gap: 2.5vw;
    font-size: 1.75rem;
}

.header .right .icons div:hover {
    color: #2182BF;
    cursor: pointer;
}

.header .right {
    display: none;
}

.header .left .mb-head {
    display: none;
}

.header .left .mb-head .close {
    font-size: 22px;
}

.header .left .mb-head .close:hover {
    cursor: pointer;
}

.head1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.head1 div {
    max-width: fit-content;
    font-size: 3.2rem;
    border-bottom: 2px solid var(--secondary-color);
    text-align: center;
}

.homepage--banner {
    padding: max(1.5rem, 5vh) max(1rem, 4.5vw);
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.homepage--banner .head {
    font-size: max(2.5vw, 2rem);
    font-weight: 800;
    margin-bottom: 1rem;
    width: 100%;
}

.homepage--banner .description {
    font-size: max(1.25vw, 1.25rem);
    font-weight: 300;
    margin-bottom: 1rem;
    max-width: 64rem;
}

.homepage--banner .icon {
    font-size: 3.25rem;
}

.carousel--container {
    padding: max(1.5rem, 1vh) 0;
    backdrop-filter: blur(1.5rem);
    --webkit-backdrop-filter: blur(1.5rem);
}

.footer {
    display: flex;
    gap: 1rem;
    padding: 1rem max(1rem, 4.5vw);
    background-color: #F2F2F2;
    border-top: 2px solid #2182BF;
    color: #0D0D0D;
    justify-content: space-between;
    align-items: center;
}

.footer .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    min-width: 25vw;
}

.footer .left .main-text {
    font-size: 2rem;
}

.footer .left .sub-text {
    font-size: 1rem;
}

.footer .left .main-text, .footer .left .sub-text {
    text-align: left;
}

.footer img {
    height: max(4vw, 5rem);
    width: auto;
}

.footer .left .basis {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

.footer .left .basis .icons {
    display: none;
    gap: 1rem;
    font-size: 1.25rem;
}

/* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* 
=======================
Setup
=======================
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

a {
  color: inherit;
}

.members {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: max(2rem, 4vw);
    flex-direction: row;
    margin: 0 1rem;
}

.members h1 {
  font-size: max(1.5rem, 1.5vw);
  color: var(--var-lightest);
  padding: 0.5rem 0 0 0;
}

.members h2 {
  font-size: max(0.75rem, 1vw);
  color: #bbb;
  padding: 0.25rem 0;
}

.members p {
  font-size: 1.25rem;
  color: var(--var-soft-blue);
}

.members span {
  color: white;
}

.members .card-container {
  width: 100%;
  max-width: 400px;
  background-color: var(--var-card-dark);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.members div.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members div.coin-base,
.time-left,
.card-attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.members a.hero-image-container {
  position: relative;
  display: block;
}

/* Details */

.members img.eye {
  position: absolute;
  width: 100%;
  max-width: 2em;
  top: 44%;
  left: 43%;
}

.gentext {
    margin: 0 max(0.75rem, 7.5vw);
}

.gentext a {
    color:#e2c000;
    transition-duration: 0.7s;
}

.gentext a:hover {
    text-decoration: underline;
}

@media (min-width: 400px) {
  .members img.eye {
    max-width: 3em;
  }
}

.members .hero-image-container::after {
  content: "";
  background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-color: hsla(178, 100%, 50%, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.dropdown-container {
    display: inline-block;
    padding: 10px;
  }
  .dropdown-container .dropdown {
    position: relative;
  }
  .dropdown-container .dropdown[open] .with-down-arrow::after {
    content: "";
  }
  .dropdown-container .dropdown[open] summary {
    background: #ffffff10;
  }
  .dropdown-container .dropdown summary {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.7s;
  }
  .dropdown-container .dropdown summary:hover {
    color:#05A6A6;
  }
  .dropdown-container .dropdown summary.avatar {
    border-radius: 50px;
  }
  .dropdown-container .dropdown summary.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-block;
    margin: 0;
  }
  .dropdown-container .dropdown summary .with-down-arrow {
    display: inline-flex;
    padding: 5px;
    align-items: center;
    color: #fff;
    line-height: 1;
  }
  .dropdown-container .dropdown summary .with-down-arrow::after {
    content: "";
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }
  .dropdown-container .dropdown.left ul {
    left: 0;
  }
  .dropdown-container .dropdown.right ul {
    right: 0;
  }
  .dropdown-container .dropdown ul {
    padding: 0;
    margin-top: 12px;
    min-width: max-content;
    position: absolute;
    top: 100%;
    background-color: #F2F2F2;
    border: 2px solid #2182BF;
    z-index: 2;
  }
  .dropdown-container .dropdown ul li {
    list-style-type: none;
    display: block;
    /* If you use divider & borders, it's best to use top borders */
    /*border-top: 1px solid #ccc;*/
  }
  .dropdown-container .dropdown ul li p {
    padding: 10px 15px;
    margin: 0;
  }
  .dropdown-container .dropdown ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    text-decoration: none;
    line-height: 1;
    color: black;
    transition-duration: 0.7s;
  }
  .dropdown-container .dropdown ul li a:hover {
    color: #2182BF;
  }
  .dropdown-container .dropdown ul li:first-of-type {
    border-radius: 10px 10px 0 0;
  }
  .dropdown-container .dropdown ul li:last-of-type {
    border-radius: 0 0 10px 10px;
  }
  .dropdown-container .dropdown ul li.divider {
    border: none;
    border-bottom: 1px solid #333;
    /* 
     * removes border from Li after the divider element
     * best used in combination with top borders on other LIs 
     */
  }
  .dropdown-container .dropdown ul li.divider ~ li {
    border: none;
  }

.members .hero-image-container:hover::after {
  opacity: 1;
}

.iism-content {
    background-color: #fff;
}

.iism-content-2 {
    background-color: #f2fbff ;
    color: #0D0D0D;
    padding: 2.25rem max(1rem, 4.5vw);
    font-size: 1.5rem;
}

.iism-content-2 .head {
    font-size: max(2.5vw, 2rem);
    font-weight: 800;
    margin-bottom: 1rem;
    width: 100%;
}

.iism-content-2 .desc {
    max-width: 88rem;
}

.iism-head {
    background-color: #2192BF;
    color: #f2f2f2;
    padding: 2.25rem max(1rem, 4.5vw);
    font-size: 2.5rem;
    font-weight: 700;
}

.iism-winsp-cont {
    padding: 2.25rem max(1rem, 4.5vw);
    font-size: 1rem;
    background-color: #2182BF;
    margin: 1rem 0;
    color: #f2f2f2;
}

.iism-winsp-cont .head {
    font-size: 2rem;
    font-weight: 300;
    margin: 0.75rem 0;
}

.iism-winsp-cont .division {
    border-top: 2px dotted #2192BF;
    margin: 1.5rem 0;
    padding: 0.75rem;
}

.iism-winsp-cont .division .head {
    font-size: 1rem;
}

.iism-winsp-cont .division .w1 {
    font-size: 2rem;
    font-weight: 600;
}

.iism-winsp-cont .division .w2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.iism-disc {
    padding: 0.25rem max(1rem, 4.5vw);
    font-size: 1rem;
    background-color: #f2fbff;
    margin: 1rem 0;
    color: #0D0D0D;
}

.iism-img img {
    min-width: 100vw;
}

@media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (min-width: 1280px) {
    .header .mid .head {
        display: block;
    }

    .header .right {
        display: block;
    }

    .header .mid .acronym {
        display: none;
    }

    .header .mid {
        flex-direction: row;
    }

    .header {
        flex-direction: row;
    }

    .header .left .nav .nav-element {
        flex-direction: row-reverse;
    }

    .header:hover {
        backdrop-filter: blur(1.5rem);
        --webkit-backdrop-filter: blur(1.5rem);
    }
} 

@media only screen and (min-width: 600px) {
    
    .header .left .nav .nav-element .flex-target > div {
        display: none;
        transition-delay: 0.7s;
        transition-duration: 0.7s;
    }

    .header .left .nav .nav-element .flex-target:hover div {
        display: flex;
    }

    .header .left .nav .nav-element .flex {
        position: absolute;
        top: 2.5rem;
        left: -1rem;
        margin-bottom: 1rem;

        background-color: #041d1f;
        min-width: 10.5vw;
        border-bottom: 1px solid #e2c000;
        flex-direction: column;
        z-index:12;
    }

    .header .left .nav .nav-element .flex div {
        padding: 0.5rem 1rem;
        transition-duration: 0.7s;
    }

    .header .left .nav .nav-element .flex div:hover {
        background-color: #06343e;
        color: #e2c000;
    }

    .header .left .nav {
        display: flex !important;
    }

}

@media only screen and (max-width: 600px) {
    .header {
        position: fixed;
    }

    .header .left .icon {
        display: block;
    }

    .header .left .nav {
        display: none;

        width: 100vw;
        min-height: 100vh;
        position: absolute;
        right: 0;
        top:0;

        flex-direction: column;

        justify-content: start;
        align-items: start;

        padding: 2rem 1rem;
        gap: 1.5rem;
        backdrop-filter: blur(1.5rem);
        --webkit-backdrop-filter: blur(1.5rem);
        z-index:99;
    }

    .header .left .nav .nav-element {
        padding-right: 0rem;
        padding-left: 1.25rem;
    }

    .header .left .nav .dropdown-container {
        padding: 0 !important;
        padding-left: 1.25rem !important;
    }

    .header .left .nav .dropdown-container .dropdown ul {
        background-color: transparent;
        position: relative;
        border: none;
    }

    .header .left .nav .mb-head {
        display: flex;
        font-size: 2rem;
        width: 100%;
        padding: 0rem 0rem;
        padding-bottom: 3px;
        justify-content: space-between;
        align-items: center;
    }

    .header .left .nav .mb-head div {
        padding: 0rem 1rem;
    }

    .vw-left {
        width: 95vw;
        margin-top: 6rem;
        margin-right: 0.25rem;
        padding-left: 0.75rem;
    }

    .vw-left .block .head, .vw-left .block .description, .vw-left .block .button {
        margin-left: 0rem !important;
    }

    .members {
        flex-direction: column;
    }

    .top {
        padding-top: 7rem;
    }

    .gentext {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

@media only screen and (max-width: 800px) { 
    .footer {
        flex-direction: column;
    }

    .footer .left {
        flex-direction: column;
        text-align: left;
    }

    .footer .left .main-text, .footer .left .sub-text {
        text-align: center;
    }

    .footer .left .basis {
        gap: 0.75rem;
    }

    .footer .left .main-text {
        font-size: 1.5rem;
    }
    
    .footer .left .sub-text {
        font-size: 0.75rem;
    }

    .footer .basis {
        align-items: center;
    }

    .footer .basis .icons {
        display: flex !important;
    }
}